* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(
    30deg,
    rgb(5, 172, 238) 0%,
    rgba(2, 0, 36, 1) 50%,
    rgb(36, 0, 243) 190%
  );
}

:root {
  --dark: #121212;
}

#room {
  background-size: contain;
  width: 100%;
  height: 100vh;
  color: white;
  border: 2px solid black;
}

#usersOnline {
  border: 1px solid white;
  background-color: var(--dark);
  width: 20%;
  height: 22vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

#usersOnline h3 {
  font-family: sans-serif;
  font-size: 2vw;
  position: relative;
  margin: auto;
  left: 20%;
}

#usersOnlineListWrapper {
  border-top: 1px solid white;
  height: 90%;
  overflow: auto;
}

#usersOnlineListWrapper li {
  float: left;
  margin: 2% 2% 5px 5%;
}

#usersOnlineListWrapper span {
  margin-left: -10px;
}

#chat {
  position: absolute;
  border: 2px solid white;
  background-color: var(--dark);
  width: 20%;
  height: 40vh;
  overflow: auto;
  right: 0;
  top: 28%;
}

#message {
  border: 1px solid blue;
  padding: 7px;
  width: 100%;
  word-wrap: break-word;
}

#sendWrapper {
  position: sticky;
  height: 15%;
  top: 85%;
  bottom: 0;
  background-color: var(--dark);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sendWrapper input {
  width: 70%;
}

#sendWrapper input,
button {
  height: 20px;
}

#messageSend {
  border-color: white;
  border-radius: 15px;
  color: white;
  background-color: blue;
  cursor: pointer;
  outline: none;
}

.playerNameBox {
  border: 2px solid white;
  background-color: var(--dark);
  min-width: 7%;
  height: 7vh;
  position: absolute;
  top: 17%;
  text-align: center;
  line-height: 6vh;
  cursor: pointer;
  font-size: 20px;
}

#player1 {
  left: 20%;
}

#player2 {
  left: 55%;
}

#leaveGame {
  border: 2px solid white;
  background-color: var(--dark);
  width: 60px;
  height: 5vh;
  text-align: center;
  line-height: 4vh;
  cursor: pointer;
  display: none;
}

#signWrapper {
  position: absolute;
  width: 8%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 28%;
  left: 1.5%;
  display: none;
}

.sign {
  height: 30%;
  cursor: pointer;
}

.sign img {
  width: 100%;
  height: 100%;
}

.playerChoice {
  width: 25%;
  height: 40vh;
  border: 2px solid white;
  position: absolute;
  top: 28%;
  overflow: hidden;
}

.playerChoice img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#player1Choice {
  left: 11%;
}

#player2Choice {
  left: 46%;
}

#startGameButton {
  position: absolute;
  border: 2px solid white;
  width: 120px;
  height: 6vh;
  left: 36%;
  top: 80%;
  text-align: center;
  line-height: 5.4vh;
  letter-spacing: 10px;
  text-indent: 10px;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

#leftPlayerChooseEffect,
#rightPlayerChooseEffect {
  position: absolute;
  width: 25%;
  height: 40%;
  top: 28%;
  background-color: blue;
  transition: ease-in 0.5s;
  z-index: -2;
  /* display: none; */
}

body.stop-transition #leftPlayerChooseEffect {
  transition: none !important;
}

body.stop-transition #rightPlayerChooseEffect {
  transition: none !important;
}

#leftPlayerChooseEffect {
  left: 11%;
}

#rightPlayerChooseEffect {
  left: 46%;
}

#wall1,
#wall2 {
  position: absolute;
  z-index: 0;
}

.scoreBox {
  position: absolute;
  width: 5%;
  height: 8vh;
  border: 2px solid white;
  background-color: var(--dark);
  top: 70%;
  text-align: center;
  line-height: 7vh;
  font-size: 3vw;
  display: none;
}

#player1Score {
  left: 21%;
}

#player2Score {
  left: 56%;
}

#timer {
  width: 5%;
  height: 7vh;
  position: absolute;
  left: 38.5%;
  top: 40%;
  font-size: 25px;
  text-align: center;
  line-height: 6vh;
  display: none;
}

#winnerInfo {
  position: absolute;
  width: 30%;
  height: 7vh;
  left: 26%;
  text-align: center;
  line-height: 6vh;
  font-size: 23px;
}

#info {
  width: 20%;
  height: 20vh;
  position: absolute;
  top: 70%;
  left: 80%;
  overflow: hidden;
}

#infoItem {
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  opacity: 0;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  #usersOnline {
    width: 100%;
    height: 70px;
  }

  #usersOnline h3 {
    font-size: 30px !important;
    margin-left: 10% !important;
  }

  #usersOnlineListWrapper {
    width: 100%;
    height: 60% !important;
  }

  #usersOnlineListWrapper li {
    margin: 7px 15px 15px 10px;
  }

  #chat {
    top: 100%;
    width: 100%;
  }

  #info {
    top: 80px !important;
    height: 10vh !important;
  }

  #winnerInfo {
    margin-top: 20%;
  }

  #leaveGame {
    margin-top: 100px;
  }

  .playerNameBox,
  #signWrapper,
  .playerChoice,
  #startGameButton,
  #leftPlayerChooseEffect,
  #rightPlayerChooseEffect,
  .scoreBox,
  #timer {
    margin-top: 50px;
    font-size: 20px;
  }

  .playerNameBox {
    width: 15%;
  }

  .playerChoice {
    width: 45%;
  }

  #player1Choice,
  #leftPlayerChooseEffect {
    left: 3%;
  }

  #player2Choice,
  #rightPlayerChooseEffect {
    left: 52%;
  }

  #leftPlayerChooseEffect,
  #rightPlayerChooseEffect {
    width: 45%;
  }

  #signWrapper {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    top: 73%;
    left: 5%;
  }

  #player1 {
    left: 12%;
  }

  #player1Score,
  #player2Score {
    height: 43px;
    top: 17%;
  }

  #player1Score {
    left: 39%;
  }

  #player2 {
    left: 74%;
  }

  #player2Score {
    left: 54%;
  }

  .scoreBox {
    width: 50px;
  }

  #winnerInfo {
    margin-top: 80px;
    width: 50%;
    font-size: 20px;
  }

  #startGameButton {
    top: 350px;
    margin: auto;
    width: 130px;
    display: none;
    z-index: 1;
  }

  #sendWrapper button {
    width: 100px;
  }

  #timer {
    top: 5%;
    left: 47%;
  }
}

@media only screen and (max-width: 600px) {
  #player1Score {
    left: 35%;
  }
}

@media only screen and (max-width: 450px) {
  #signWrapper {
    width: 100%;
    left: -1px;
  }

  .playerNameBox {
    min-width: 25%;
  }

  #player1 {
    left: 3%;
  }

  #player2 {
    left: 71%;
  }

  #usersOnline h3 {
    left: 50px;
  }
}
